<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <div>HamiDev</div>
      <div *ngIf="authenticationService.userIsAuthorized">
        <nb-actions size="medium">
          <nb-action>
            <a href="https://github.com/HamidBehnam/hamidev005" target="_blank"><img class="logo-general github-logo" [src]="'assets/logo/GitHub-Mark-Light-32px.png'"></a>
            <a href="https://www.linkedin.com/in/hamidbehnampro/" target="_blank"><img class="logo-general linked-in-logo" [src]="'assets/logo/In-White-28px-R.png'"></a>
          </nb-action>
          <nb-action class="d-none d-lg-block">
            <nb-user [name]="authenticationService.userData.displayName"
                     [picture]="authenticationService.userData.photoURL"></nb-user>
          </nb-action>
          <nb-action>
            <a (click)="authenticationService.signOut()" nbButton [size]="'xsmall'" [shape]="'rectangle'">Logout</a>
          </nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar class="d-none d-lg-block">
    <div>Sidebar</div>
    <small class="text-muted">Coming Soon!</small>
  </nb-sidebar>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>
</nb-layout>
