:host {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  nb-sidebar {
    box-shadow: none;
  }

  .logo-general {
    max-width: 100%;
    height: auto;
  }

  .github-logo {
    width: 25px;
  }

  .linked-in-logo {
    width: 30px;
    margin-left: 10px
  }
}
