<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <div>HamiDev</div>
      <div *ngIf="authenticationService.userIsAuthorized">
        <nb-actions size="medium">
          <nb-action>
            <nb-user [name]="authenticationService.userData.displayName"
                     [picture]="authenticationService.userData.photoURL"></nb-user>
          </nb-action>
          <nb-action>
            <a (click)="authenticationService.signOut()" nbButton [size]="'xsmall'" [shape]="'rectangle'">Logout</a>
          </nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar class="d-none d-md-block">
    <div>Sidebar</div>
    <small class="text-muted">Coming Soon!</small>
  </nb-sidebar>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>
</nb-layout>
