:host {
  .jumbotron {
    background:
      linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
      linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
      linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
      linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
      linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    height: calc(100vh / 2);
    border-radius: 0;
    color: #848484;
    padding-top: 30px;
    display: flex;

    h1 {
      color: #848484;
    }

    .app-title {
      margin: auto;
    }
  }

  .app-logo-holder {
    position: absolute;

  }

  .logo-general {
    max-width: 100%;
    height: auto;
  }

  .app-logo {
    width: 100px;
  }

  .github-logo {
    width: 25px;
  }

  .linked-in-logo {
    width: 30px;
    margin-left: 10px
  }
}
