<div class="jumbotron mb-0">

  <h1 class="row justify-content-center">
    <div [appLogoInformation]="'Application Logo'"
         [additionalInformation]="'Additional Information'"
         (processorFinished)="onProcessorFinished($event)"
         #logoInformation="appLogoInformation">HamiDev005</div>
  </h1>
  <p class="row justify-content-center">Demo Application</p>

</div>

<nb-layout>

  <nb-layout-column>

    <div class="row justify-content-center">
      <div class="col-xl-6">
        <router-outlet></router-outlet>
      </div>
    </div>

  </nb-layout-column>

</nb-layout>
