:host {
  .content-card {
    height: 355px;
  }

  .info-bar {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .organization-activity-years {
    margin-bottom: 12px;
  }

  .organization-navigation {
    position: absolute;
    top: 15px;
  }
}
