<nb-card>
  <nb-card-body>
    <div class="row info-bar text-center">
      <div class="col">
        <div class="row">
          <div class="col">
            <h2 class="mt-0 text-muted">
              <div>{{ organization.name }}</div>
            </h2>
          </div>
        </div>
        <div class="row organization-activity-years">
          <small class="col text-muted">Active Since {{ organization.active_since }}</small>
        </div>
        <div class="row">
          <small class="col text-muted">{{ organization.location }}</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <nb-card class="content-card">
          <nb-card-header class="text-center">Provided Services</nb-card-header>
          <nb-card-body>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Info</th>
                <th scope="col">Projects</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let service of organization.services">
                <td>{{ service.name }}</td>
                <td>{{ service.info }}</td>
                <td>{{ service.projects }}</td>
              </tr>
              </tbody>
            </table>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col">
        <nb-card class="content-card">
          <nb-card-header class="text-center">Team Members</nb-card-header>
          <nb-card-body>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Profession</th>
                <th scope="col">Member Since</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let member of organization.members">
                <td>{{ member.full_name }}</td>
                <td>{{ member.profession }}</td>
                <td>{{ member.member_since }}</td>
              </tr>
              </tbody>
            </table>

          </nb-card-body>
        </nb-card>
      </div>
      <div class="col">
        <nb-card class="content-card">
          <nb-card-header class="text-center">Show Cases</nb-card-header>
          <nb-card-body class="text-center">
            <img [src]="organization.logo" class="align-self-center mr-3">
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <a class="organization-navigation" [routerLink]="['/organizations']"><i class="fas fa-chevron-left"></i> Organizations</a>
  </nb-card-body>
</nb-card>

