<h2 class="row justify-content-center">Welcome back</h2>
<div class="row justify-content-center">
  <div class="col-sm-4" *ngIf="authenticationService.userIsNotAuthorized">
    <div class="stack-buttons-holder">
      <button size="xsmall" class="stack-button" nbButton outline [shape]="'rectangle'" [status]="'danger'" (click)="signInGoogle()">Google Sign In</button>
      <button size="xsmall" class="stack-button" nbButton outline [shape]="'rectangle'" [status]="'info'" [disabled]="true">Twitter Sign In</button>
      <button size="xsmall" class="stack-button" nbButton outline [shape]="'rectangle'" [status]="'primary'" [disabled]="true">Facebook Sign In</button>
      <button size="xsmall" class="stack-button" nbButton outline [shape]="'rectangle'" [status]="'primary'" [disabled]="true">Email Sign In</button>
    </div>
  </div>
  <div class="col-sm-4" *ngIf="authenticationService.userIsAuthorized">
    <div class="stack-buttons-holder">
      <button size="xsmall" class="stack-button" nbButton outline  [shape]="'rectangle'" [status]="'danger'" (click)="signOut()">Sign Out</button>
      <a class="stack-button" [routerLink]="['/organizations']" nbButton outline  [shape]="'rectangle'" [status]="'danger'" [size]="'xsmall'">Organizations</a>
    </div>
  </div>
</div>
