<!--<nb-card>-->
<!--<nb-card-header class="row justify-content-center">Login with your Google account</nb-card-header>-->
<!--<nb-card-body class="row justify-content-center">-->

<!--<button nbButton outline status="danger">Google Sign In</button>-->

<!--</nb-card-body>-->
<!--</nb-card>-->
<div class="row justify-content-center">
  <div class="col-sm-4">
    <div class="sign-in-buttons-holder">
      <button size="xsmall" class="sign-in-button" nbButton outline status="danger">Google Sign In</button>
      <button size="xsmall" class="sign-in-button" nbButton outline status="info">Twitter Sign In</button>
      <button size="xsmall" class="sign-in-button" nbButton outline status="primary">Facebook Sign In</button>
      <button size="xsmall" class="sign-in-button" nbButton outline status="primary">Email Sign In</button>
    </div>
  </div>
</div>
