<nb-card>
  <nb-card-body>
    <div class="media">
      <img [src]="organization.logo" class="align-self-center mr-3 d-none d-sm-block">
      <div class="media-body">
        <div class="row justify-content-between">
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm">
                <h5 class="mt-0">
                  <a [routerLink]="['/organizations', organization.id]">{{ organization.name }}</a>
                </h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <small class="text-muted">Has a team of {{ organization.members_count }} Members</small>
              </div>
            </div>
          </div>
          <div class="col-sm-5 text-right  text-muted">
            <small>Provides {{ organization.services_count }} Services</small>
          </div>
        </div>
        <div class="row details-first-row justify-content-between">
          <small class="col-sm-7  text-muted">{{ organization.location }}</small>
          <div class="col-sm-5 text-right">
            <button nbButton outline [status]="'primary'" [size]="'xsmall'" [shape]="'rectangle'" [routerLink]="['/organizations', organization.id]">More Details</button>
          </div>
        </div>
        <div class="row justify-content-between text-muted">
          <small class="col">Active Since {{ organization.active_since }}</small>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
